[Unit]
Description=Conectar API Service
Documentation=https://github.com/wesleytakatsu/conectar
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=3010
Type=simple
User=wesley
WorkingDirectory=/home/projetos/conectar/Conectar-NestJS-Test-server
ExecStart=/usr/bin/node dist/main.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target